<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MasterChef1.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96372A081DF4B1870087CDE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96372A1F1DF4B1870087CDE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96372A2A1DF4B1870087CDE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
